body{
  text-align: center;
  font-family: Helvetica;
}

#header{
  font-size: 70px;
  font-weight: bold;
  color: white;
  background-image: url("Y:/development/webDev/projects/broadway/resources/images/building.png");
  background-size: auto;
}

#processSection h3 {
  font-weight: bold;
  font-size: 32px;
}

#processSection h4{
  font-size: 23px;
  font-weight: bold;
}

#processSection p{
  font-size: 14px;
}

#locationDivision {
  background-image: url("Y:/development/webDev/projects/broadway/resources/images/building.png");
  font-size: 23px;
  font-weight: bold;
  color: white;
}

#topFooter h4{
  font-size: 23px;
  font-weight: bold;
}

#topFooter p {
  font-size: 14px;
}

#bottomFooter p{
  font-size: 11px;
    display: inline;

}

#bottomFooter {
  color: white;
  background-color: dimgray;
  text-align: left;
}
